<div class="container">
    <div class="row">
        <div class="col">
            <div class="new-form">
                <h1>Edit Project</h1>
                <%= render 'form', project: @project %>
                <%= link_to 'Back', user_path(@current_user.id) %>
            </div>
        </div>
    </div>
</div>