/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

$dark: #333;
$white: seashell;
$sectionPadding: 1rem;
$sectionBorderRadius: 4px;

.new-form {
    // background-color: red;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .form-group {
        display: flex;
        flex-direction: column;
    }
}


body {
    background-color: $white;
}

.project-image{
    width: 200px;
}

.heading {
    display: flex; 
    justify-content: space-between;
}

#links-headding {
    display: flex;
    justify-content: space-around;
    h2 {
        float: left;
    }
    #new-link-button {
        float: right;
    }
}

.section {
    background-color: $dark;
    color: $white;
    padding: $sectionPadding;
    border-radius: $sectionBorderRadius;
    $table-color: $white;
}

.link-image {
    width: 50px;
}

#my-info{
    background-color: $dark;
    color: $white;
    padding: $sectionPadding;
    border-radius: $sectionBorderRadius;
    a h2 {
        color: $white;
    }
}



#info {
    background-color: $dark;
    color: $white;
    padding: $sectionPadding;
    border-radius: $sectionBorderRadius;
    .col {
        border-left: solid $white 3px;
        h2 {
            text-align: center;
        }
        ul {
            list-style-type: none;
            // padding-top: 1rem;
        }
    }
    #projects{
        border: none;
    }
}

#user-image {
    width: 200px;
}

#links {
    border-left: solid $white 3px;
    ul {
        list-style-type: none;
        padding-top: 1rem;
    }
    table {
        color: $white;
    }
}

#technologies{ 
    border-left: solid $white 3px;
    ul {
        list-style-type: none;
        padding-top: 1rem;
    }
    table {
        color: $white;
    }
}
